<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>каталог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="body"> 
    <a href="{{ url_for('index') }}"><h1 class="line-title">COSMY</h1></a>
    <header class="header">
        <nav class="nav">
            <a href="{{ url_for('catalog') }}" class="nav-button">каталог</a>
            <a href="{{ url_for('brand') }}" class="nav-button">бренди</a>
            <a href="{{ url_for('blog') }}" class="nav-button">про нас</a>
            <a href="{{ url_for('cart') }}" class="nav-button">мій кошик</a>
        </nav>
        <div class="full-width-line"></div>
    </header>
    <header>
        
    </header>
    <main>
    <h2 class="reg-text">Оформлення замовлення</h2>
    <form method="post" class="order-form">
        <label>Ім'я: <input type="text" name="name" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Адреса: <input type="text" name="address" required></label><br>
        <button type="submit">Підтвердити замовлення</button>
    </form>

</main>
</body>
</html>